<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Full Screen Pet  Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="wrapper-images">
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
</div>
<div class="container">
	<div class="logo">
		<img src="image/logo.png" alt="Natural Pet Bakery">
	</div>
	<nav class="menu">
		<a href="/client/all">All Clients</a>
		<a href="/personal/all">All Personal</a>
		<a href="/client/add">Add New Client</a>
	<a href="/personal/add">Add New Personal</a>
		<a href="/personal/graphic/add">Add Graphics</a>
		<a href="/order/add/client">Create order</a>
	</nav>
</div>

  
</body>
</html>
