<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" th:href="@{style.css}">

</head>
<body>

<div class="wrapper-images">
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
	<div class="images-line">
		<div class="line large" style="background-image: url('image/coffee1.png');"></div>
		<div class="line" style="background-image:url('image/coffee2.png');"></div>
		<div class="line large" style="background-image:url('image/coffee3.png');"></div>
		<div class="line" style="background-image:url('image/pie2.png')"></div>
		<div class="line" style="background-image:url('image/pie3.png')"></div>
	</div>
</div>
<div class="container">
	<div class="logo"><img src="image/logo.png"/>

	</div>
	<nav class="menu">
		<a href="/order/add/client">Create order</a>
		<a href="/menu"> Menu </a>
	<a href="/registration">Registration</a>
		<a href="/personal/home">Personal Home Page </a>
		<a href="/client/home">Client Home Page</a>
		<a href="/login">Login</a>

		<li th:if="${user != null}">
			<div th:each="role:${user.getRoles()}">
				<a th:if="${role.getName().name().equals('ROLE_ADMIN')}" href="/admin">Admin</a>
				<a th:if="${role.getName().name().equals('ROLE_PERSONAL')}" href="/personal">Personal</a>
			</div>
		</li>

	</nav>
</div>

<form th:action="@{/send/mail}" method="get">
	<input type="email" name="email" placeholder="email"> <br>
	<input type="submit">
</form>
  
</body>
</html>
