<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h2>Menu</h2>

<form action="/menu/list" method="post">

    <label><input type="checkbox" name="selectedDrinks" th:checked="${selectedDrinks}" th:value="true"> Drink</label><br>
    <label><input type="checkbox" name="selectedDeserts" th:checked="${selectedDeserts}" th:value="true"> Dessert</label><br>

    <label>
        <select name="sort">
            <option value="0">Sort by</option>
            <option value="1" th:selected="${selected==1 && selected!=null}">NameUa</option>
            <option value="2" th:selected="${selected==2 && selected!=null}">NameEn</option>
            <option value="3" th:selected="${selected==3 && selected!=null}">Price</option>
        </select>

        </select>
    </label>
    <br>
    <input type="submit" value="Sort">
</form>

<h4><u>Drink Menu</u></h4>
<table>
    <tr>
        <th>Image</th>
        <th>Name ua</th>
        <th>Name en</th>
        <th>Price</th>
        <th>Update Price</th>
        <th>Update Price Quickly</th>
        <th>Update Drink</th>
        <th>Delete</th>
    </tr>
    <tr th:each="drink: ${drinks}">
        <td><img th:src="@{image/drink/{id}(id=${drink.getIdDrink()})}" alt="drink img" width="100"></td>
        <td th:text="${drink.getNameUa()}"></td>
        <td th:text="${drink.getNameEn()}"></td>
        <td th:text="${drink.getPrice}"></td>

        <td><a th:href="@{/drink/updatePrice/{id}(id=${drink.getIdDrink()})}">Update Price</a></td>

        <td>
            <form th:action="@{/drink/updatePrice/{id}(id=${drink.getIdDrink()})}" method="post">
                <input  style="width:50px"  type="number" max="1000" th:value="${drink.getPrice()}" name="price">
                <input type="submit" value="Update price">
            </form>
        </td>
        <td><a th:href="@{/drink/updateDrink/{id}(id=${drink.getIdDrink()})}">Update Drink</a></td>
        <td><a th:href="@{/drink/delete/{id}(id=${drink.getIdDrink()})}">Delete</a></td>
    </tr>
</table>

<h4><u>Desert Menu</u></h4>
<table>
    <tr>
        <th>Image</th>
        <th>Name ua</th>
        <th>Name en</th>
        <th>Price</th>
        <th>Update Price</th>
        <th>Update Price Quickly</th>
        <th>Update Menu</th>
        <th>Delete</th>
    </tr>
    <tr th:each="desert: ${deserts}">
        <td><img th:src="@{image/desert/{id}(id=${desert.getIdDesert()})}" alt="desert img" width="100"></td>
        <td th:text="${desert.getNameUa()}"></td>
        <td th:text="${desert.getNameEn()}"></td>
        <td th:text="${desert.getPrice()}"></td>
        <td><a th:href="@{/desert/updatePrice/{id}(id=${desert.getIdDesert()})}">Update Price</a></td>

        <td>
            <form th:action="@{/desert/updatePrice/{id}(id=${desert.getIdDesert()})}" method="post">
                <input style="width:50px" type="number" th:value="${desert.getPrice()}" name="price">
                <input type="submit" value="Update price">
            </form>
        </td>


        <td><a th:href="@{/desert/updateDesert/{id}(id=${desert.getIdDesert()})}">Update Desert</a></td>
        <td><a th:href="@{/desert/delete/{id}(id=${desert.getIdDesert()})}">Delete</a></td>
    </tr>
</table>

<br>

<a href="/drink/add">Add New Drink</a><br>
<a href="/desert/add">Add New Desert</a><br>
</body>
</html>